.gradients-list {

	.gradient {
		display: block;
		width: 100%;
		height: 200px;
	}

	.gradient--colors {

		> span:first-of-type {
			width: 100%;
		}

		.arrow {
			color: #444;
			padding: 0 5px;
		}
	}

	.gradient--inner {
		height: 100%;
	}

	.px-0{
		padding-left: 0;
		padding-right: 0;
	}

	.components-clipboard-button.components-button{
		box-shadow: none !important;
	}
}
